In [4]:
import pandas as pd

#list of lists
data = [[4, 2, 1],
        [3, 0, 1],
        [1, 0, 0]]


columns = ['apples', 'bananas', 'oranges']
index = ['Monday', 'Tuesday', 'Wednesday']

df = pd.DataFrame(data, index, columns)
print(df)

           apples  bananas  oranges
Monday          4        2        1
Tuesday         3        0        1
Wednesday       1        0        0

In [5]:
import pandas as pd
csv_url = "https://raw.githubusercontent.com/paiml/wine-ratings/main/wine-ratings.csv"
# set index_col to 0 to tell pandas that the first column is the index
df = pd.read_csv(csv_url, index_col=0)
df.head(10)

,name,grape,region,variety,rating,notes
0,1000 Stories Bourbon Barrel Aged Batch Blue Ca...,NaN,"Mendocino, California",Red Wine,91.0,"This is a very special, limited release of 100..."
1,1000 Stories Bourbon Barrel Aged Gold Rush Red...,NaN,California,Red Wine,89.0,The California Gold Rush was a period of coura...
2,1000 Stories Bourbon Barrel Aged Gold Rush Red...,NaN,California,Red Wine,90.0,The California Gold Rush was a period of coura...
3,1000 Stories Bourbon Barrel Aged Zinfandel 2013,NaN,"North Coast, California",Red Wine,91.0,"The wine has a deep, rich purple color. An int..."
4,1000 Stories Bourbon Barrel Aged Zinfandel 2014,NaN,California,Red Wine,90.0,Batch #004 is the first release of the 2014 vi...
5,1000 Stories Bourbon Barrel Aged Zinfandel 2016,NaN,California,Red Wine,91.0,"1,000 Stories Bourbon barrel-aged Zinfandel is..."
6,1000 Stories Bourbon Barrel Aged Zinfandel 2017,NaN,California,Red Wine,92.0,"Batch 55 embodies an opulent vintage, which sa..."
7,12 Linajes Crianza 2014,NaN,"Ribera del Duero, Spain",Red Wine,92.0,Red with violet hues. The aromas are very inte...
8,12 Linajes Reserva 2012,NaN,"Ribera del Duero, Spain",Red Wine,94.0,"On the nose, a complex predominance of mineral..."
9,14 Hands Cabernet Sauvignon 2010,NaN,"Columbia Valley, Washington",Red Wine,87.0,Concentrated aromas of dark stone fruits and t...

In [6]:
import pandas as pd
df = pd.read_csv("world-championship-qualifier.csv")
print(df)

    Rank                    Name     Nationality      Result    Notes Group
0    1.0           Svatoslav Ton  Czech Republic        2.14        q     A
1    1.0            Toni Huikuri        Finlandi        2.14        q     A
2    1.0          James Brierley  United Kingdom        2.14        q     A
3    1.0           Noriyasu Arai           Japan        2.14        q     A
4    5.0         Yannick Tregaro          Sweden        2.14        q     A
5    5.0       Dejan Vreljakovic              FR  Yugoslavia  2.14\tq     A
6    7.0            Alfredo Deza            Peru        2.10      NaN     A
7    8.0         Vagner Principe          Brazil        2.10      NaN     A
8    9.0  Alberto Juantorena Jr.            Cuba        2.10      NaN     A
9   10.0         Marcin Kaczocha          Poland        2.10      NaN     A
10  11.0         Andrey Krasulya         Ukraine        2.05      NaN     A
11  12.0            David Larsen   United States        2.05      NaN     A
12  13.0          Ronald Garlett       Australia        2.00      NaN     A
13  13.0           Oleg Prokopov         Belarus        2.00      NaN     A
14  15.0         Felipe Apablaza           Chile        2.00      NaN     A
15  16.0     Luis Soto Caballero     Puerto Rico        2.00      NaN     A
16   NaN            Zolt√°n Akacz         Hungary          NH      NaN     A
17   1.0            Mark Boswell          Canada        2.14        q     B
18   1.0          Ben Challenger  United Kingdom        2.14        q     B
19   1.0            Roman Fricke         Germany        2.14        q     B
20   1.0          Tivadar Kov√°cs         Hungary        2.14        q     B
21   1.0             Dave Furman   United States        2.14        q     B
22   6.0      Fran√ßois Potgieter    South Africa        2.14        q     B
23   7.0             Sauli Niemi         Finland        2.10      NaN     B
24   7.0    Katsuyoshi Miyamichi           Japan        2.10      NaN     B
25   9.0           Marat Rakipov          Russia        2.10      NaN     B
26  10.0              Adi Mordel          Israel        2.10      NaN     B
27  11.0         Fabr√≠cio Romero          Brazil        2.10      NaN     B
28  12.0      Abderahmane Hammad         Algeria        2.05      NaN     B
29  12.0              Luke Temme       Australia        2.05      NaN     B
30  14.0       Aleksey Lesnichiy         Belarus        2.05      NaN     B
31  15.0            Ha Chung-Soo     South Korea        2.00      NaN     B
32  16.0           Dejan Dokleja         Croatia        2.00      NaN     B
33   NaN           Fawzi Warsame         Somalia          NH      NaN     B

## You can read from many formats

The `pd` object allows you to read from various different formats including your clipboard!

- read_clipboard
- read_csv
- read_excel
- read_feather
- read_fwf
- read_gbq
- read_hdf
- read_html
- read_json
- read_orc
- read_parquet
- read_pickle
- read_sas
- read_spss
- read_sql
- read_sql_query
- read_sql_table
- read_stata
- read_table
- read_xml

In [ ]:
# The most common operation is with .head() 
df.head(15)

In [ ]:
# Now lets get a description of the data
df.describe()

In [ ]:
# You can also get metadata about the dataset with .info()
df.info()

In [ ]:
# sort based on some condition
df.sort_values(by="rating", ascending=False).head()

In [ ]:
df = df.replace({"\r": ""}, regex=True)
df = df.replace({"\n": " "}, regex=True)
df.head(10)

In [ ]:
# the grape is not a very good column, lets remove it and describe it again
df.drop(['grape'], axis=1, inplace=True)
df.describe()